html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='Arts Travel, Global Arts, Travel Agency, Contemporary Art Tours')
    meta(name='og:url', content="http://www.global_art-travel.art/")
    meta(name='og:type', content="agency")
    meta(name='og:title', content=typeof(title) !== 'Global Contemporary Art Tours Group, Inc' ? title : "Global Contemporary Art Tours Group, Inc")
    meta(name='og:image', content="")
    meta(name='og:description', content="Your Flight Is Cancelled is a new e-flux project conceived by Julieta Aranda and Anton Vidokle.")

    link(rel='shortcut icon', href='./images/Symbols/Place selection.png', type='image/x-icon') 
    link(rel='stylesheet', href='./styles/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    title Global Art Tours
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  
  body
    include partials/header.pug
    include partials/nav.pug
    section#content-wrapper
      #content
      include subPages/home.pug
      //- include subPages/destinations.pug
      //- include subPages/vacations.pug
      //- include subPages/offers.pug
      - var cloudVid = GCATGVideos.filter(vid => vid.indexOf('clouds') > -1);
      //- include subPages/services.pug
      //- include subPages/privacy.pug
      include subPages/about.pug
      //- include widgets/flight-scan-carousel.pug        
    include partials/footer.pug
    .blurBack
    include partials/breakingModal.pug 
    
    //- script(type='text/javascript', src='/scripts/nav.js')  
    script(type='text/javascript', src='/scripts/clickbait.js')
