
@font-face {
  font-family: 'TradeGothicLTStd-Extended';
  src: url('TradeGothicLTStd-Extended.eot?#iefix') format('embedded-opentype'),  url('TradeGothicLTStd-Extended.otf')  format('opentype'),
	     url('TradeGothicLTStd-Extended.woff') format('woff'), url('TradeGothicLTStd-Extended.ttf')  format('truetype'), url('TradeGothicLTStd-Extended.svg#TradeGothicLTStd-Extended') format('svg');
  font-weight: normal;
  font-style: normal;
}
