div.tabcontent#services-page(onclick="playVid()")
  video(width="100%" height="auto" autoplay)
    source(src=cloudVid[0])
  script.
    function playVid(){
      $('#services-page video').get(0).play();
    }

    
    
