
@font-face {
  font-family: 'Serpentine-MediumOblique';
  src: url('Serpentine-MediumOblique.eot?#iefix') format('embedded-opentype'),  url('Serpentine-MediumOblique.otf')  format('opentype'),
	     url('Serpentine-MediumOblique.woff') format('woff'), url('Serpentine-MediumOblique.ttf')  format('truetype'), url('Serpentine-MediumOblique.svg#Serpentine-MediumOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
