/* Larger than mobile */
@media (min-width: 320px) and (max-width: 767px){
  #stickySide{
    display: none;
  }
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }

  .tilt-title{
    z-index: 1;
    left: 0;
    top: -3.5em;
  }
  #about-page .main-text {
    margin-top: 8em !important;
  }
}


/* Tablet */

@media (min-width: 768px){

  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
}

/* Larger than tablet */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Larger than Desktop HD */
@media (min-width: 1025px) {
  .main-text{
    max-width: 600px;
  }
}
