@import url("jquery-ui-1.11.4/jquery-ui.css");
@import url("skeleton/skeleton.css");
@import url("./typography.css");
@import url("animation.css");
@import url("grid.css");
@import url("images.css");
@import url("widgets.css");
@import url("modal.css");
@import url("project.css");
@import url("stamp.css");

/* Primary colors
 black: #000
 red: #FF0000
 blue: #0000FF */

/* Accent colors
  neon green: #01FF01
  violet: #E100FF
  white: #fff */

body {
  margin: 0;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}
body.modal-open nav .tab-group {
  opacity: 0;
}
body.modal-open header {
  filter: blur(5px);
}

body.modal-open #content-wrapper {
  filter: blur(5px);
}
#pageLeaf::before {
  content: "";
  -webkit-transform: translateX(-400vw);
  transform: translateX(-400vw);
  height: 100vh;
  width: 400vw;
  position: fixed;
  background: #f2e502;
  z-index: 90000;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 5%,
    #fff 40%,
    rgba(255, 255, 255, 0) 45%
  );
  opacity: 1;
  transition: 0s;
}

#pageLeaf::after {
  content: "";
  -webkit-transform: translateX(400vw);
  transform: translateX(400vw);
  height: 100vh;
  width: 400vw;
  position: fixed;
  background: #f2e502;
  z-index: 90000;
  top: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 5%,
    #fff 40%,
    rgba(255, 255, 255, 0) 45%
  );
  opacity: 1;
  transition: 0s;
}

.slide-finish::after {
  -webkit-transform: translateX(-400vw);
  transform: translateX(-400vw);
  opacity: 1;
}
.slide-start::after {
  -webkit-transform: translateX(-25vw);
  transform: translateX(-25vw);
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}
.clickbait {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

.clickbait div {
  background: #fff;
}
.round {
  margin: 10em 5em;
  width: 10em;
  height: 10em;
  border-radius: 5em;
  background-image: url("/images/Symbols/stars.png");
  box-shadow: inset 1px 2px 6px 0 #b2b2b2;
}
.round img {
  width: 50%;
}
.bar {
  height: 300px;
  background-color: transparent;
}
.bar div {
  width: 280px;
  box-shadow: inset 1px 2px 6px 0 #fdb400;
  border: solid 1px #535353;
  background-color: #ffffff;
}

.bar .pointer {
  left: -100px;
  top: -100px;
  position: absolute;
}
.box {
  color: #00f;
}
.lean-left {
  position: relative;
  left: -10em;
}
.box .pointer {
  width: 50px;
  position: absolute;
  left: -40px;
  top: -50px;
}
.box div {
  width: 272px;
  word-break: normal;
  text-decoration: underline;
}

.box div:hover {
  color: #4a4a4a;
  text-decoration: line-through;
  font-style: italic;
}
.logo-wrapper {
  margin-left: 22px;
  margin-top: 22px;
}
.logo-wrapper img {
  height: 3.5em;
}

.divider {
  width: calc(100% - 44px);
  height: 5px;
  margin: 22px;
  background-image: linear-gradient(to right, #e100ff, #53a0fd 48%, #b4ec51);
}

footer {
  z-index: 12;
  position: fixed;
  bottom: 0;
  color: #e10000;
  height: 60px;
  background-image: linear-gradient(to top, #01ff01, rgba(255, 255, 255, 0.05));
  width: 100%;
}

footer marquee {
  padding: 23px 0;
}
footer marquee span {
  margin: 0 1rem;
}
footer marquee span.last {
  margin-left: 30vw;
}
.poster-text {
  position: relative;
  z-index: -1;
  box-shadow: inset 1px 2px 6px 0 #b2b2b2;
  background-image: linear-gradient(to bottom, #ffffff 30%, #ff00ff);
}

.top-offset {
  padding-top: 12em;
  top: -10em;
}

.left-offset {
  padding-top: 15em;
  padding-left: 2em;
  top: -16em;
  left: 4em;
  width: 15em;
}

.right-offset {
  padding: 14em 2em 0.7em 0.5em;
  top: -12em;
  right: 1em;
  width: 23em;
}

#waveform {
  margin: 5em 0;
  width: 100%;
}

#waveform canvas {
  height: 128px;
}

.filler-content {
  position: relative;
  top: -11em;
}

.filler-content img {
  width: 100%;
}
.filler-item {
  position: relative;
}
#smash-mirror {
  margin: 5em 7.5em;
}
.roundFrame {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  overflow: hidden;
  border: 20px #fff;
  box-shadow: 4px -3px 2px 3px #55ff00;
}

.roundFrame img {
  height: 100%;
  filter: grayscale(100%);
}

.roundFrame img:hover {
  filter: grayscale(0%);
}

.filler-item#cables {
  width: 20%;
  margin: 0 auto;
  margin-left: 30%;
}

.filler-item#cables img {
  position: absolute;
}
#cables div.frame {
  position: absolute;
  width: 100%;
}
.drop {
  box-shadow: inset 1px 2px 6px 0 #b2b2b2;
  /* border: solid 1px #535353; */
  background-color: #ffffff;
}
#cables div.frame {
  top: 40px;
  left: 12px;
  z-index: -5;
}

.cancellation-posters {
  position: relative;
  width: 200px;
  height: 400px;
}

.cancellation-posters div.frame {
  width: 200px;
  height: 283px;
  position: absolute;
}

div.frame:nth-of-type(2) {
  top: 56px;
  left: 24px;
  z-index: -6;
}

#conference-carousel {
  height: 80px;
  position: absolute;
  margin: 5em;
}

#conference-carousel img {
  height: 100%;
  width: auto;
}

#conference-carousel marquee img {
  margin-left: 30px;
  filter: grayscale(100%);
}

.stars-banner {
  height: 20px;
}

.stars-banner img {
  margin-left: 8px;
  height: 100%;
}
#train-video {
  box-shadow: inset 1px 2px 6px 0 #00000080;
  border: solid 1px #979797;
  padding: 12px;
  width: 120%;
  left: -2em;
}
#train-video video {
  width: 100%;
}
#retroPlay {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 38px);
  width: 76px;
  height: 76px;
  background-size: contain;
  background-image: url("../icons/gray_play.png");
  border: transparent;
  cursor: pointer;
}

.rainbow-wrapper {
  width: 100px;
  box-shadow: inset 1px 2px 6px 0 #8bfd00;
  border-style: solid;
  border-width: 4px;
  border-image-source: linear-gradient(to right, #3023ae, #53a0fd 48%, #ec51ad);
  border-image-slice: 1;
  background-color: #ffffff;
  margin: 0 auto;
}

#bookNOW {
  box-shadow: 3px 4px 5px 0 #94949480;
  background-image: linear-gradient(to right, #b6fcb6, #01ff01 56%, #016bff);
}
.padded {
  margin: 7em auto 1em auto;
  text-align: center;
}
#playAudio {
  width: 100%;
  height: 34px;
  text-transform: uppercase;
  cursor: pointer;
}

#flight-noise {
  clear: both;
}

.flipper {
  font-size: 36px;
  float: right;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 0.5s;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform: scalex(1.5);
}

.flipper:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg) skewx(-30deg);
}

span.destination-tag,
span.preview-tag,
span.tba-tag {
  transform: rotate(-12deg);
  color: #ffffff;
  position: absolute;
}
span.tba-tag {
  z-index: 2;
}
span.preview-tag {
  z-index: -2;
  top: -0.7em;
  left: -2em;
  text-transform: uppercase;
}
a:hover h1 {
  color: initial;
}
.destination-item {
  margin-left: 4em;
}

.destination-item,
.destination-tbas {
  width: 80%;
  min-width: 300px;
  position: relative;
  margin-top: 4em;
  height: 350px;
  z-index: 1;
}

#destination-posters .destination-item {
  max-width: 400px;
  height: inherit;
}
@media (min-width: 320px) and (max-width: 767px) {
  .destination-item,
  .destination-tbas {
    width: 80%;
    max-width: 300px;
    margin: auto;
  }
}

img.prevew-image,
.tba-image-wrapper {
  box-shadow: -3px 3px 4px 0 #00000080;
  width: 80%;
  position: absolute;
  z-index: 1;
}

.tba-image-wrapper {
  /* hack to keep the edges define while blur image */
  overflow: hidden;
}
img.tba-image {
  margin: -5px -10px -10px -5px;
  width: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-image: linear-gradient(to bottom, #ffffff19, #ffffff19);
}
.preview-text,
.tba-holder {
  background: #fff;
  margin-left: 1em;
  padding: 10em 20px 16px 20px;
  width: 80%;
  position: absolute;
  box-shadow: -6px 6px 6px #ff00ffcc;
}
.preview-text .title {
  margin-top: 1em;
}

.destination-tbas.tall {
  display: inline-block;
}

.destination-tbas.tall .tba-holder {
  height: 180px;
}

.destination-tbas.tall span.tba-tag {
  top: 3em;
  left: 0.8em;
}

.destination-tbas.wide .tba-holder {
  height: 40px;
  margin-left: -1em;
  box-shadow: 6px 6px 6px #ff00ffcc;
  top: -25px;
  padding-right: 34px;
}

.destination-tbas.wide span.tba-tag {
  left: 0.7em;
}

img#cancelled {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.announcement {
  margin-top: 10%;
  position: relative;
}

.announcement div.frame.drop {
  top: 7px;
  left: -7px;
  height: 145px;
  position: absolute;
  width: 300px;
  box-shadow: inset 0 0 5px 6px #00f0ff47;
  border: solid 1px #535353;
  background-color: #ffffff;
}

.breaking-news {
  margin: 2em auto;
  max-width: 300px;
  padding: 3em 20px 1em 20px;
  box-shadow: inset 0 0 5px 6px #00f0ff47;
  border: solid 1px #535353;
  background-color: #ffffff;
  box-sizing: border-box;
  /* margin: 2em; */
}
.hide {
  display: none;
}

#breaking {
  cursor: pointer;
  position: relative;
}

#breaking span.preview-tag {
  z-index: 1;
}
#breaking span.preview-tag:hover {
  color: #f00;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
.tug {
  z-index: -1;
}
.center {
  text-align: center;
}

#about-page {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#about-page .main-text {
  position: relative;
  margin: 1em auto;
  padding: 60px 25px;
  box-shadow: 0 2px 3px 0 #00000080;
}

.aboutPage {
  background-image: radial-gradient(circle at 50% 50%, #00cfff, #c1c1c100 65%);
}
#services-page {
  height: 100%;
}
#services-page video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

body.error404 nav {
  z-index: 2;
  position: relative;
}
body.error404 header {
  opacity: 0;
}

.left-over {
  width: calc(100% - 200px);
  left: 200px;
  position: relative;
}

#privacy-page,
#offers-page {
  text-align: center;
}

#radar {
  box-shadow: inset 3px 3px 7px 1px #00000080;
}

#destinations-page .cancellation-series img {
  width: 15%;
  box-shadow: -2px 2px 3px 0 #00000080;
  margin: 2em;
  transform-style: preserve-3d;
  perspective: 1000px;
  /* position: fixed; */
  cursor: wait;
}
#destinations-page .cancellation-series img:hover {
  transform: rotateY(1e-7deg) rotateX(0deg) rotateZ(0deg) scale(1.1);
}

.cancellation-series {
  overflow: auto;
  white-space: nowrap;
}
