@import url('jquery-ui-1.11.4/jquery-ui.css');
@import url('skeleton/skeleton.css');
@import url('./typography.css');
@import url('grid.css');

/* Primary colors
 black: #000
 red: #FF0000
 blue: #0000FF */

/* Accent colors
  neon green: #01FF01
  violet: #E100FF
  white: #fff */

body{
  margin: 0;
  background-image: linear-gradient(to top, #01ff01, #000000 20%);
  color: #fff;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  /* color: inherit; */
}


.logo-wrapper{
  text-align: center;
  color: #fff;
  border-bottom: 7px solid #fff;
  background-image: linear-gradient(to bottom, #0000ff, #000000);
}
