@import url('jquery-ui-1.11.4/jquery-ui.css');
@import url('skeleton/skeleton.css');
@import url('./typography.css');
@import url('grid.css');

/* Primary colors
 black: #000
 red: #FF0000
 blue: #0000FF */

/* Accent colors
  neon green: #01FF01
  violet: #E100FF
  white: #fff */

body{
  margin: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  /* color: inherit; */
}
.clickbait{
  box-shadow: inset 1px 2px 6px 0 #b2b2b2;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  cursor: pointer;
}

.clickbait span{
  top: 45%;
  position: relative;
}
.round{
  width: 10em;
  height: 10em;
  border-radius: 5em;
  background-image: url("/images/stars-14613.png");
}
.bar{
  width: 26em;
  padding: .3em;
  border-style: double;

}
.box{
  width: 22em;
  height: 9.167em;
  border-style: ridge;

}

.logo-wrapper{
  text-align: center;
}

.divider{
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, #e100ff, #53a0fd 48%, #b4ec51);
}

footer{
  position: fixed;
  bottom: 0;
  color: #e10000;
  height: 60px;
  background-image: linear-gradient(to top, #01ff01, rgba(255, 255, 255, 0.85));
  width: 100%;
}

footer marquee{
  padding: 23px 0;
}
