/* .modal-layer{
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display:none;
  background: rgba(243,243, 243, .8);
  background-image: linear-gradient(rgba(216,216,216,0),rgba(216,216,216,1) 50%);
}

.closeModal{
  margin: 10px;
  font-size: 36px !important;
  z-index: 25;
  position: fixed;
  right: 0;
} */
#news-modal span.preview-tag{
  color: #f00;
  left: 0;
  top: -2em;
}

.modal span.preview-tag{
  z-index: 2;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-image: radial-gradient(circle at 50% 50%, #00cfff, #c1c1c100 50%);
}
.blurBack{
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 3;
}
/* Modal Content/Box */
.modal-content {
    box-shadow: 0 2px 4px 0 #00000080;
    background-color: #fefefe;
    margin: 11% auto;
    max-width: 650px;
    position: relative;
    padding: 25px;
}
.modal-text{
  overflow-y: scroll;
  height: 100%;
}
.modal-content img.banner{
  width: 100%;
}

.modal-content img.half{
  width: 48%;
}

.modal-content img.half:nth-of-type(3){
  margin-left: 1em;
}
.north-east{
  top: -1.3125em;
  right: -1.3125em;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 768px) {

  .modal-content {
    height: 65%;
  }
}

@media (min-width: 320px) and (max-width: 767px){
  .modal-content {
    /* height: 72vh; */
    margin: 1em;
    margin-top: 15vh;
  }
  .modal span.preview-tag{
    top: 7%;
    left: 4%;
    z-index: 2;
  }

}
