
body.fixed{
  overflow: hidden;
}

.tab-container{
  display: inline-block;
  box-shadow: 3px 4px 5px 0 rgba(148, 148, 148, 0.5);
  background-color: #f8e71c;
  margin: 4px 4px;
  padding: 4px 8px;
}
.errorPage .tab-container{
  background-image: linear-gradient(to left, rgba(255, 254, 242), #01ff01);
}
.tab-container.open{
  /* background-image: linear-gradient(to bottom, #ffffff, #feff01); */
  background: #fff;
}

.highlight{
  border-bottom: 3px #00FF00 solid;
}

.tablink:hover {
  /* background-color: #777; */
}
.tab-group{
  /* margin-right: 20px; */
  display: inline;
}
/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
  display: none;
  padding: 0 30px;
}
.flat-link a{
  text-decoration: none;
  color: inherit;
}

.logo span:first-of-type{
    margin-right: 12px;
}
button{
  background: transparent
}
span.menu-item{
  cursor: pointer;
}
nav {
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.1s ease;
  box-sizing: border-box;

  /* background-image: linear-gradient(to bottom, #ffffff00, #ffffff 53%, #ffffff00); */
}

nav.desktop{
  width: calc(100% - 200px);
  margin-left: 200px;
  text-align: right;
  padding: 0px 30px 8px 30px;
}

nav.mobile{
  width: 100%;
  text-align: center;
}
nav a{
  text-decoration: none;
  color: inherit;
}
nav a:hover{
  color: inherit;
}

@media (min-width: 320px) and (max-width: 767px){
  .menu-item{
      margin-bottom: 10px;
  }
  .tabcontent {
    display: none;
    padding: 10px 15px;
  }
  .logo-wrapper{
    margin: 15px 0 0 30px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
