
body.fixed{
  overflow: hidden;
}

.tab-container{
  display: inline-block;
  box-shadow: 3px 4px 5px 0 rgba(148, 148, 148, 0.5);
  background-color: #f8e71c;
  margin: 4px 4px;
  padding: 4px 8px;
}
.errorPage .tab-container{
  background-image: linear-gradient(to left, rgba(255, 254, 242), #01ff01);
}
.tab-container.open{
  /* background-image: linear-gradient(to bottom, #ffffff, #feff01); */
  background: #fff;
}

.highlight{
  border-bottom: 3px #00FF00 solid;
}

.tablink:hover {
  /* background-color: #777; */
}
.tab-group{
  /* margin-right: 20px; */
  display: inline;
}
/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
  display: none;
  padding: 0 30px;
}
.flat-link a{
  text-decoration: none;
  color: inherit;
}

.logo span:first-of-type{
    margin-right: 12px;
}
button{
  background: transparent
}
span.menu-item{
  cursor: pointer;
}
nav {
  box-sizing: border-box;
  text-align: right;
  font-size: 14px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.1s ease;
  padding: 0px 30px 8px 30px;
  margin-left: 200px;
  box-sizing: border-box;
  width: calc(100% - 200px);
  text-align: right;
  /* background-image: linear-gradient(to bottom, #ffffff00, #ffffff 53%, #ffffff00); */
}

nav.sticky {
  top: 0;
  position: fixed;
   font-size: 24px;
   line-height: 40px;
   height: 40px;
   color: #000;
   text-align: left;
   background: white;
   z-index: 1000;
   padding: 15px 60px 0 60px;
    margin: 0;
    width: 100%;
    /* box-shadow: 0px 1px 60px white; */
}

nav a{
  text-decoration: none;
  color: inherit;
}
nav a:hover{
  color: inherit;
}

@media (min-width: 320px) and (max-width: 767px){
  .menu-item{
      margin-bottom: 10px;
  }
  .tabcontent {
    display: none;
    padding: 10px 15px;
  }
  .logo-wrapper{
    margin: 15px 0 0 30px;
  }
  span.navDot{
    bottom: 20px;
    right: 24px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px #000;
    padding: 0;
    z-index: 10;
    background: #fff;
    position: fixed;
  }
  .pop{
      background: #0f0 !important;
  }
  .open-popup{
     right: 0;
  }

  nav{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100vw;
    background-color: rgba(0,0,0, 0.65);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
    margin: 0;
    padding-top: 70vh;
    padding-left: 50%;
    color: #fff;
  }
  .tab-container{
    z-index: 100;
    display: block;
    width: fit-content;
  }
}

@media (min-width: 768px){
  span#navDot, .nav-background{
    display: none;
  }

  a#contact{
    cursor: pointer;
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
