#image-wrapper{
  height: 100vh;
  overflow: scroll;
}

#image-wrapper img{
  margin-left: 2em;
  width: 80%;
  box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.5);
}
#text-wrapper{
  width: 70%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 4em;
  padding: 24px 10%;
  height: 70vh;
  overflow: scroll;
  background: #fff;
  box-shadow: 0 2px 4px 0 #00000080;
}
#scatterPlot{
  z-index: -9;
  position: fixed;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
#scatterPlot img{
  width: 300px;
  z-index: -8;
  position: absolute;
}
#backDrop{
  z-index: -7;
  position: absolute;
  top:0;
  width: 100vw;
  height: 100%;
  opacity: 0.78;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
#ovalGlow{
  width: 100%;
  height: 100vh;
  position: absolute;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(#00cfff, #c1c1c100);
}
span.locationTag{
  position: fixed;
  transform: rotate(-12deg);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "TradeGothicLTStd-Extended";
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.metatag div{
  display: inline-block;
}
.metatag{
  margin-bottom: 62px;
}
#projectPage header{
  margin-bottom: 30px;
}

.full-location-tag{
  float: right;
}
#projectPage .image-wrapper{
  height: 380px;
  width: 100%;
  overflow: hidden;
  vertical-align: center; 
}

#projectPage .image-wrapper img{
  width: 100%;
}
