#projectPage .logo-wrapper.mobile{

}
#image-wrapper{
  height: 100vh;
  overflow: scroll;
}

#image-wrapper img{
  margin-left: 2em;
  width: 80%;
  box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.5);
}
#text-wrapper{
  box-sizing: border-box;
  margin: 1em;
  box-shadow: 0 2px 4px 0 #00000080;
  background: #fff;
}

#projectPage .image-wrapper{
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px){
  #text-wrapper{
    padding: 60px 25px;
    margin-top: 4em;
  }
}


@media (min-width: 768px) {
  #projectPage .image-wrapper{
    height: 380px;
    overflow: hidden;
    vertical-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
  }
  #text-wrapper{
    margin: 2em auto; 
    max-width: 1024px;
    padding: 60px 120px;
    height: 72vh;
    overflow: scroll;
    width: 80%;
    box-shadow: 0 2px 4px 0 #00000080;
    background: #fff;
  }
}
#scatterPlot{
  z-index: -9;
  position: fixed;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
#scatterPlot img{
  width: 300px;
  z-index: -8;
  position: absolute;
}
#backDrop{
  z-index: -7;
  position: absolute;
  top:0;
  width: 100vw;
  height: 100%;
  opacity: 0.78;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
#ovalGlow{
  width: 100%;
  height: 100vh;
  position: absolute;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(#00cfff, #c1c1c100 50%);
}
span.locationTag{
  position: fixed;
  transform: rotate(-12deg);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "TradeGothicLTStd-Extended";
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.metatag div{
  display: inline-block;
}
.metatag{
  margin-bottom: 62px;
}
#projectPage header{
  margin-bottom: 30px;
}

.full-location-tag{
  float: right;
}


#projectPage .image-wrapper img{
  width: 100%;
}
