.stamps{
  z-index: -1;
}
.flashPlugin{
  top: 10%;
  position: absolute;
  right: 20%;
  z-index: -1;
}

.safetyCard{
  min-width: 175px;
  width: 50%;
  position: relative;
}

.oval{
  box-shadow: 3px -3px 6px 0 #ffff00;
  border: solid 1px #979797;
  width: 120px;
  height: 63px;
  border-radius: 50%;
  overflow: hidden;
}
.stargalaxy{
  position: absolute;
  left: 0;
  top: -100px;
}
#sleeper1{
  margin:3em auto;
}
#sleeper2{
  float: right;
  margin-top: 10em;
}
.oval img{
  width: 100%;
  filter: grayscale(100%);
}
.oval img:hover{
  filter: grayscale(0%);
}
.ovalFlat{
  width: 122px;
   height: 24px;
   box-shadow: 0 2px 4px 0 #00000080;
   background-image: radial-gradient(circle at 50% 50%, #d8fc00, #ffffff86);
   border-radius: 50%;
   position: relative;
   margin: 0 auto;
}

div.ovalFlat img{
  top: -2em;
  position: absolute;
  left: 1.35em;
}

.ovalTall{
  border-radius: 50%;
  width: 341px;
   height: 227px;
   overflow: hidden;
   background-blend-mode: lighten;
   /* filter: blur(3px); */
   box-shadow: inset 0px 0px 40px 40px #fff;

}
.tallInside{
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 40px 40px #fff;
  background-image: url("../images/stamps/venice fall 2.jpg");
  background-size: contain;
}

.ovalTall img{
  width: 100%;
}

.accent{
  width: 2.625em;
  position: absolute;
}

.accent-md{
  width: 4em !important;
}

.south-west{
  left: -21px;
  bottom: -21px;
}

#air-scanner{
  right: 0;
  position: absolute;
}

div.fragile{
  margin: 0 auto;
  width: 450px;
}
span.safe{
  text-transform: uppercase;
  color: #f00;
  vertical-align: top;
  margin-left: 40px;
}

.flag{
  text-align: center;
}
.flag img {
  margin: 3em auto;
}

.stacked{
  position: relative;
  height: 300px;
  left: -5em;
}

.stacked .ovalTall,
.stacked div.fragile {
  position: absolute;
}

#red-arrow{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  right: 3em;
}

#yellow-arrow{
  position: absolute;
  left: 0;
  top: -3em;
}
