.ui-widget{
  font-family: inherit;
  font-size: inherit;
}


form#booking{
  object-fit: contain;
  border-radius: 23px;
  color: #000;
  background-image: linear-gradient(to bottom, #ffffff, #d8d8d8);
}


.carousel-thumb{
    pointer: cursor;
}

.carousel-thumb:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); 
}
