footer
  marquee 
    | Flight Deals:  Barcelona - Save up to 10%
    span /
    | Basel - Save up to 15% 
    span /
    | Miami - Save up to 5%
    span /
    | Munich - Save up to 3%
    span /
    | Festival Pass Deals:  Ljubljana Triennial - Save up to 15%
    span /
    | Dakar Biennial - Save up to 15%
    span /
    | Basel - Save up to 15% 
    span /
    span.last 
      a(href="https://theholding.page") built by hold
