footer
  marquee Flight Deals:  Barcelona - Save up to 10%    /    Basel - Save up to 15%    /    Miami - Save up to 5%    /    Munich - Save up to 3%    /    Festival Pass Deals:  Ljubljana Triennial - Save up to 15%    /    Dakar Biennial - Save up to 15%    /    Basel - Save up to 15%
