header.logo-wrapper.desktop 
    a(href="/") 
        img(src="./icons/GCATG-3-Light Blue.svg")
    .divider
header.logo-wrapper.mobile 
    a(href="/") 
        img(src="./icons/GCATG-3-Light Blue.svg")
    .divider
