header.logo-wrapper.desktop 
    a(href="/") 
        img(src="./icons/GCATG-Blue Circles.svg")
            //- h1.flat-link.logo
                //- span Global Contemporary Art Tours Group, Inc.
    .divider
header.logo-wrapper.mobile 
    a(href="/") 
        img(src="./icons/GCATG-Blue Circles.svg")
    //- h1.flat-link.logo
    //- Global Contemporary Art Tours Group, Inc.
    .divider
