header.logo-wrapper.desktop 
  h1.flat-link.logo
    a(href="/") 
        span Global Contemporary Art Tours Group, Inc.
header.logo-wrapper.mobile 
  h1.flat-link.logo
    a(href="/") Global Contemporary Art Tours Group, Inc.
