link(href='/styles/nav.css', rel='stylesheet')
  
nav.fade-in-fast 
    div.tab-container
      a.tablink.menu-item#defaultOpen(href="#home" data-value="home") HOME
    .tab-group
      div.tab-container
        a.tablink.menu-item#destinations-tab(href="#destinations" data-value="destinations") Destinations
      div.tab-container
        a.tablink.menu-item#vacations-tab(href="#vacations" data-value="vacations") Vacation Packages  
      div.tab-container
        a.tablink.menu-item#offers-tab(href="#offers" data-value="offers") Deals & Offers
      div.tab-container
        a.tablink.menu-item#service-tab(href="#service" data-value="service") Extra Services 
      div.tab-container
        a.tablink.menu-item#partners-tab(href="#partners" data-value="partners") Partners
      div.tab-container
        a.tablink.menu-item#privacy-tab(href="#privacy" data-value="privacy") Terms of Privacy
      div.tab-container
        a.tablink.menu-item#faq-tab(href="#faq" data-value="faq") Passport FAQ
      div.tab-container
          a.tablink.menu-item#about-tab(href="#about" data-value="about") About Us
span.navDot(onclick='toggleNav()')
script(type='text/javascript', src='/scripts/nav.js')
