script(src="https://code.jquery.com/jquery-1.12.4.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src="/scripts/lib/jquery-timepicker-1.3.5/jquery.timepicker.min.js")
link(rel='stylesheet', href="/scripts/lib/jquery-timepicker-1.3.5/jquery.timepicker.min.css")
link(rel='stylesheet', href='./styles/widgets.css')

.two.columns
  header BOOK HERE
  form#booking(action="/action_page.php")
    fieldset
      legend Select a Booking: 
      label(for="flight")  Flights
      input(type="checkbox" name="checkbox-1"  id="checkbox-flight")
      label(for="festival") Festival Pass
      input(type="checkbox" name="checkbox-2" id="checkbox-festival")
      label(for="car") Cars
      input(type="checkbox" name="checkbox-3" id="checkbox-car") 
      
    label(for="departLocation") Departing From
    input(type="text" id="departL" name="departLocation" placeholder="City, landmark, or address ")
    label(for="datepickerStart") Date: 
    input(type="text" id="datepickerStart" class="datepicker")
    label(for="timepickerStart") Time: 
    input(type="text" id="timepickertStart" class="timepicker")
      
    label(for="arriveLocation") Going To 
    input(type="text" id="arriveL" name="arriveLocation" placeholder="City, landmark, or address ")
    label(for="datepickerEnd") Date: 
    input(type="text" id="datepickerEnd" class="datepicker")
    label(for="timepickerEnd") Time: 
    input(type="text" id="timepickertEnd" class="timepicker")
        
    label(for="country") Country
    select(id="country" name="country")
      option(value="australia") Australia
      option(value="canada") Canada
      option(value="usa") USA
    input(type="submit" value="Submit")


  script.
    $(function(){
      $("input.datepicker").datepicker(); 
      $("input.timepicker").timepicker({ 'scrollDefault': 'now' }); 
    });
