
@font-face {
  font-family: 'AcuminPro-Regular';
  src: url('AcuminPro-Regular.eot?#iefix') format('embedded-opentype'),  url('AcuminPro-Regular.otf')  format('opentype'),
	     url('AcuminPro-Regular.woff') format('woff'), url('AcuminPro-Regular.ttf')  format('truetype'), url('AcuminPro-Regular.svg#AcuminPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
